body {
    background-color: #222831;
}
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
}
h1 {
    color: #eeeeee;
}
input,
#search-btn {
    padding: 5px;
    border: none;
}
#search-btn {
    padding: 5px;
    width: 80px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
}
#search-btn:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
input {
    border-radius: 5px;
}
.meal-name {
    font-size: 23px;
    font-weight: 300;
}
.meal-name,
.category-name,
.area-name {
    margin-bottom: 5px;
    color: #eeeeee;
}
.category-name,
.area-name {
    display: inline-block;
}
.recipe-btn {
    margin-top: 5px;
    border: none;
    padding: 8px;
    width: 120px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
}
.recipe-btn:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.meal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    /*background-color: #31363f;*/
    /*border: 1px solid gray;*/
}
.meal-img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 400px;
    margin-bottom: 10px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /*padding: 20px;*/
    background-color: #393e46;
    border-radius: 5px;
    display: none;
    width: 500px;
}

.ingredient-list,
.measurement-list {
    /*position: relative;
    right: 40px;
    bottom: 30px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    list-style: none;
}
.list-item {
    margin: 0 10px;
    list-style: none;
}
.ingredient-container,
.measurement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /*border: 1px solid blue;*/
}
.modal-header {
    font-size: 25px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #00adb5;
    margin: 0;
}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px red solid;
}
.recipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 0;
    padding: 0;*/
}

.recipe-wrapper h4 {
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0;
    /*padding: 0;*/
}
