body {
    background-color: #222831;
    margin: 0;
    padding: 0;
    background-image: url(cooker-king.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image within the element */
    background-attachment: fixed;
}
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
}
.nav-container span {
    color: mediumslateblue;
}
h1 {
    color: whitesmoke;
    margin: 0;
}
h2,
h3 {
    color: whitesmoke;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 5px 0 5px 0;
}
h3 {
    color: whitesmoke;
}
input,
#search-btn {
    padding: 5px;
    border: none;
}
#search-btn {
    padding: 5px;
    width: 110px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    height: 40px;
    font-weight: 400;
    padding: 0;
}
#search-btn:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#inputField {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    /*box-sizing: border-box;*/
    border-radius: 5px;
}
#inputField:focus {
    outline: none;
}
.search-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.meal-name {
    font-size: 23px;
    font-weight: 300;
}
.meal-name,
.category-name,
.area-name {
    margin-bottom: 5px;
    color: #eeeeee;
}
.category-name,
.area-name {
    display: inline-block;
}
.recipe-btn {
    margin-top: 5px;
    border: none;
    padding: 8px;
    width: 120px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
}
.recipe-btn:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*margin-top: 20;*/
    margin: 20px 15px 5px 15px;
}
.meal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
}
.meal-img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 400px;
    margin-bottom: 10px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #393e46;
    border-radius: 5px;
    display: none;
    width: 800px;
    border-radius: 15px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: darkgrey lightgrey;
}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}
modal::-webkit-scrollbar {
    width: 10px; /* Chrome, Safari, Opera */
}

.modal::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Chrome, Safari, Opera */
    border-radius: 10px;
}
.ingredient-list,
.measurement-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    list-style: none;
}
.list-item {
    margin: 0 10px;
    list-style: none;
    font-size: 15px;
    color: whitesmoke;
}
.ingredient-container,
.measurement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.modal-header {
    font-size: 25px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #00adb5;
    margin: 10px 0 0 0;
}

.recipe-wrapper {
    display: flex;
    justify-content: space-between;
    width: 315px;
}

.recipe-wrapper h4 {
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 10px 0 10px 0;
    font-weight: 400;
    color: whitesmoke;
}
.close-modal {
    margin: 15px 0 10px 0;
    border: none;
    padding: 5px;
    width: 120px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
}
.close-modal:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 650px;
}
.instructions-container ul {
    color: whitesmoke;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0;
    opacity: 1;
}
.instructions-btn {
    margin: 15px 0 10px 0;
    border: none;
    padding: 8px;
    width: 130px;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 500;
}
.instructions-btn:hover {
    background-color: #00adb5;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.cooking-instructions-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
}
a {
    margin: 0 5px 0 5px;
    color: steelblue;
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 18px;
    }
    .search-input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 260px;
    }
    #inputField {
        width: 75%;
        padding: 8px;
        border-radius: 5px;
    }
    #search-btn {
        height: 30px;
    }
}

@media screen and (max-width: 415px) {
    #data-container {
        border: 1px solid red;
        /*width: 100%;*/
        /*justify-items: center;*/
        /*align-content: stretch;*/
        place-self: center;
        /*place-items: center;*/
        /*align-self: auto;*/
        /*width: 300px;*/
        /*margin: auto;*/
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    /*.meal-card {
        width: 100%;
    }
    body {
        width: 100%;
    }*/
    /*@media screen and (max-width: 425px) {
        #data-container {
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            border: 1px solid red;
        }*/
}
