.data-container {
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 12px;
    max-width: 400px;
}

img {
    width: 100%;
    border-radius: 6px;
}
p {
    color: white;
}
.nav-container {
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
}
ul {
    display: flex;
}
input,
#get-data-btn {
    padding: 5px;
}
input {
    border-radius: 5px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meal-img {
    width: 180px;
}
.meal-name {
    border: 1px solid red;
}
.category-name,
.area-name {
    display: inline-block;
    border: 1px solid red;
}
.meal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
/*.moreinfo-btn {
    display: block;
}*/
